/* Menu bar styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container {
    color: #fff;
    background-color: #0a515e;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login {
    margin-left: auto;
}
.dropmenu, .GetQuote {
    margin-left: 20px;
}
.list {
    margin-left: 8px;
}


/* Dropdown Button */
.dropbtn, .quote {
    background-color: rgb(9, 146, 201);
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left: 20px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #09a8c4;}

  .GetQuote:hover .quote {background-color: #09a8c4;}

  /* Header Section Styling */